@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
	height: 100%;
}

.nounderline {
	text-decoration: none !important;
}

.userProfileBlock{
  margin: 10px 0px;
}

.createFolderInput{
  margin: 10px 0px;
}

.searchInput{
  margin: 10px 0px;
}

.list{
  margin: 10px;
  padding: 5px;
}

.centerDiv{
  margin: 0 auto;
}

.mediumImage{
  height: 100px;
  width: 100px;
}

.bigImage{
  height: 150px;
  width: 150px;
}

.profileImage{
  height: 100%;
  width: 100%;
}

.profileImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.button{
  margin: 10px;
}


