<div class="row h-100 justify-content-center align-items-center">
  <div class="col-6 text-center">
    <header>
      <h2 class="text-center">Change Event image</h2>
    </header>
    <input type="hidden" name="href" [(ngModel)]="event.id">
    <div>
      <label for="image">Your image:</label>


      <div *ngIf="event.image">
        <img class="bigImage" [src]="event.image" id="image" name="image"> <br/>
      </div>

      <input
        style="display: none"
        type="file" accept="image/*" ng2FileSelect [uploader]="uploader" (change)="upload()"
        #fileInput>
      <button class="btn btn-info button" (click)="fileInput.click()">Select File</button>
    </div>
    <p>
      <button class="btn btn-danger button" (click)="goToEdit()">Cancel</button>
      <button class="btn btn-info button" type="submit" (click)="uploadImage()">Save</button>
    </p>
  </div>
</div>
