<div class=" my-4">
  <div class="container-fluid ">
    <div class="row">

    </div>
    <div class="row">
      <div class="col-md-10 centerDiv">
        <h2 class="text-center">Enter information about event</h2>
        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="name">
              Name
              <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <input class="form-control" id="name" placeholder="Event name" type="text"
                       [(ngModel)]="event.name" formControlName="eventNameControl"
                       [ngClass]="{'is-invalid': form.get('eventNameControl').invalid &&
                       (form.get('eventNameControl').dirty || form.get('eventNameControl').touched)}"/>

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"> </i> </span>
                </div>
              </div>
              <div *ngIf="form.get('eventNameControl').invalid &&
                (form.get('eventNameControl').dirty || form.get('eventNameControl').touched)" class="text-danger">
                Name of event can't be blank
              </div>
            </div>
          </div>
        </form>


        <div class="form-group ">
          <label class="control-label col-sm-2 requiredField">
            Category
            <span class="asteriskField">*</span>
          </label>
          <div class="col-sm-10">

            <ng-select [items]="categories"
                       bindLabel="name"
                       [(ngModel)]="event.category">
            </ng-select>
          </div>
        </div>


        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="description">
              Description
              <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">

              <app-ngx-editor id="description" [config]="editorConfig" [spellcheck]="true"
                              [(ngModel)]="event.description"
                              formControlName="descriptionControl"
                              [ngClass]="{ 'is-invalid': form.get('descriptionControl').invalid &&
                              (form.get('descriptionControl').dirty ||
                               form.get('descriptionControl').touched)}"></app-ngx-editor>

              <span class="help-block" id="hint_description">
        <small> Enter additional information about the event </small>
       </span>
              <div
                *ngIf="form.get('descriptionControl').invalid && (form.get('descriptionControl').dirty || form.get('descriptionControl').touched)"
                class="text-danger"> Description can't be blank
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2 requiredField">
              Place
              <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">
              <input placeholder="Enter location" autocorrect="no" autocapitalize="no"
                     spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
              <div class="my-2">
                <agm-map [mapTypeControl]="true" [fullscreenControl]="true"
                         [latitude]="latitude" [longitude]="longitude"
                         (mapClick)="onChoseLocation($event)">
                  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
              </div>
              <span class="help-block" id="hint_name1">
            <small>Mark the place of the event on the map</small>
       </span>
            </div>
          </div>
        </form>

        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group">
            <label class="control-label col-sm-2 requiredField">
              Image </label>
            <div class="col-sm-10">
              <div *ngIf="event.image">
                <img class="img-fluid" [src]="event.image" id="image" name="image"> <br/>
              </div>
              <input
                style="display: none"
                type="file" accept=".jpg, .jpeg, .png, .gif" ng2FileSelect [uploader]="uploader" (change)="upload()"
                #fileInput
                formControlName="image"
                [ngClass]="{
                            'is-invalid': form.get('image').invalid && (form.get('image').dirty || form.get('image').touched)
                        }">
              <button class="btn btn-info button" (click)="fileInput.click()">Select image</button>
              <div *ngIf="form.get('image').invalid && (form.get('image').dirty || form.get('image').touched)"
                   class="text-danger">
                <div *ngIf="form.get('image').errors.imageExtension">
                  You can upload files only with following extensions: .jpg, .jpeg, .png, .gif
                </div>
              </div>
            </div>

            <div class="alert mt-2" [hidden]="!imageUploading">
              <div>
                Uploading image...
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2 requiredField" for="timeLineStart">
              Start time <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <input id="timeLineStart"
                       formControlName="timeLineStartControl" [(ngModel)]="event.timeLineStart"
                       [owlDateTimeTrigger]="dtS" [owlDateTime]="dtS"
                       [min]="min" [max]="max">
                <div class="input-group-append">
                   <span class="input-group-text">
                      <i class="fa fa-calendar-check-o"> </i>
                   </span>
                </div>
                <owl-date-time [pickerType]="'both'" #dtS></owl-date-time>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="timeLineFinish">
              End time <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <input id="timeLineFinish"
                       formControlName="timeLineFinishControl" [(ngModel)]="event.timeLineFinish"
                       [owlDateTimeTrigger]="dtF" [owlDateTime]="dtF"
                       [min]="this.event.timeLineStart" [max]="max">
                <div class="input-group-append">
                   <span class="input-group-text">
                      <i class="fa fa-calendar-check-o"> </i>
                   </span>
                </div>
                <owl-date-time [pickerType]="'both'" #dtF></owl-date-time>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="number">
              Period
              <span class="asteriskField">*</span>
            </label>
            <div class="col-sm-10">
              <div class="input-group">
                <input class="form-control" id="number" name="number" type="number"
                       [(ngModel)]="event.period" formControlName="periodControl"
                       [ngClass]="{'is-invalid': form.get('periodControl').invalid &&
                       (form.get('periodControl').dirty || form.get('periodControl').touched)}"/>
                <div class="input-group-append">
                  <span class="input-group-text">
                     <i class="fa fa-repeat"> </i> </span>
                </div>
              </div>
              <span class="help-block" id="hint_number">
        <small>Every n days</small>
       </span>
              <div
                *ngIf="form.get('periodControl').invalid && (form.get('periodControl').dirty || form.get('periodControl').touched)"
                class="text-danger">
                <div *ngIf="form.get('periodControl').errors.required">
                  Period can't be blank
                </div>
                <div *ngIf="form.get('periodControl').errors.min">
                  Period can't < 0
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="col-sm-10">
          <h5>
            <strong>Is event private?</strong>
            <input name="checkbox" type="checkbox" [(ngModel)]="event.isPrivate">
          </h5>
        </div>
        <div class="form-group my-4">
          <div class="col-sm-8 col-sm-offset-4 centerDiv">
            <button class="btn btn-info" data-toggle="modal" data-target="#addFriend" data-backdrop="static">
              Add Friends
            </button>
            <button class="btn btn-primary" (click)="draft()" [disabled]="!form.valid">Create Draft</button>
            <button class="btn btn-primary " (click)="create()" [disabled]="!form.valid">Create Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addFriend" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><h3> Select friends</h3>
        <button class="close" type="button" (click)="cancelAddUsers()" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <div *ngIf="userFriends">
          <div id="teamCheckboxList" class="checkboxList">
            <div *ngFor="let friend of userFriends">
              <label>
                <input type="checkbox"
                       [(checklist)]="newParticipants"
                       [checklistValue]="friend"/>
                <span><strong>{{friend.name}} {{friend.surName}}</strong></span>
              </label>
            </div>
          </div>
        </div>
        <div *ngIf="userFriends?.length < 1">
          <p>No friends </p>
        </div>
      </div>
        <div class="modal-footer ">
          <button class="btn btn-warning centerDiv" type="button" (click)="cancelAddUsers()" data-dismiss="modal">Cancel
          </button>
          <button class="btn btn-success centerDiv" type="submit" data-dismiss="modal">Submit
          </button>
        </div>
    </div>
  </div>
</div>
