<form class="md-form text-center" [formGroup]="form">
  <div class="form-group">
    <input type="text" id="eventName" class="form-control mt-2" placeholder="Name of event"
           [(ngModel)]="event.name" formControlName="eventNameControl"
           [ngClass]="{
                'is-invalid': form.get('eventNameControl').invalid && (form.get('eventNameControl').dirty || form.get('eventNameControl').touched)
            }">
    <div
      *ngIf="form.get('eventNameControl').invalid && (form.get('eventNameControl').dirty || form.get('eventNameControl').touched)"
      class="text-danger">
      <div *ngIf="form.get('eventNameControl').errors.required">
        Name of event can't be blank
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" id="description" class="form-control mt-2" placeholder="Description"
           [(ngModel)]="event.description" formControlName="descriptionControl"
           [ngClass]="{
                'is-invalid': form.get('descriptionControl').invalid && (form.get('descriptionControl').dirty || form.get('descriptionControl').touched)
            }">
    <div
      *ngIf="form.get('descriptionControl').invalid && (form.get('descriptionControl').dirty || form.get('descriptionControl').touched)"
      class="text-danger">
      <div *ngIf="form.get('descriptionControl').errors.required">
        Description can't be blank
      </div>
    </div>
  </div>
</form>
<div class="md-form text-center">
  <input type="text" id="place" class="form-control mt-2" placeholder="Plase"
         [(ngModel)]="event.place">
  <div class="md-form text-left">
    Start time:
  </div>
  <input type="datetime-local" id="timeLineStart" class="form-control mt-2"
         [(ngModel)]="event.timeLineStart">
  <div class="md-form text-left">
    End time:
  </div>
</div>

<form class="md-form text-center" [formGroup]="form">
  <div class="form-group">
    <input type="datetime-local" id="timeLineFinish" class="form-control mt-2"
           [(ngModel)]="event.timeLineFinish" formControlName="timeLineFinishControl"
           [ngClass]="{
                'is-invalid': form.get('timeLineFinishControl').invalid && (form.get('timeLineFinishControl').dirty || form.get('timeLineFinishControl').touched)
            }">
    <div
      *ngIf="form.get('timeLineFinishControl').invalid && (form.get('timeLineFinishControl').dirty || form.get('timeLineFinishControl').touched || form.get('timeLineFinishControl').touched)"
      class="text-danger">
      <div *ngIf="form.get('timeLineFinishControl').errors.min">
        End time can not be heighten that start date
      </div>
    </div>
  </div>

  <div class="form-group">
    <input type="number" id="period" class="form-control mt-2" placeholder="Repetition period in days"
           [(ngModel)]="event.period" formControlName="periodControl"
           [ngClass]="{
                'is-invalid': form.get('periodControl').invalid && (form.get('periodControl').dirty || form.get('periodControl').touched)
            }">
    <div
      *ngIf="form.get('periodControl').invalid && (form.get('periodControl').dirty || form.get('periodControl').touched)"
      class="text-danger">
      <div *ngIf="form.get('periodControl').errors.required">
        Period can't be blank
      </div>
      <div *ngIf="form.get('periodControl').errors.min">
        Period can't < 0
      </div>
    </div>
  </div>
</form>
<div class="md-form text-center">
  <div class="form-control mt-2">
    Event is private?
    <input type="checkbox" id="isPrivate"
           [(ngModel)]="event.isPrivate">
  </div>
  <button class="btn btn-default mt-2" (click)="create()" [disabled]="!form.valid">Create</button>
  <button class="btn btn-default mt-2" (click)="publish()" [disabled]="!form.valid">Publish</button>
</div>
