<div *ngIf="item">

  <span class="badge-danger" *ngIf="isBooked">You are already booking the item</span>
  <div class="badge-danger" *ngIf="isBookersExist() && !isOwn">Item booked by:

	<div class="d-inline"
	*ngFor="let user of bookersAsUsers">
		<a [routerLink]="['/users', user.id]" > {{user.login}} </a>
	</div>
  </div>
  <h4 class="text-uppercase">{{item.name}}</h4>
  <i class="fa fa-heart-o" *ngIf="!item.hasLiked" (click)="clickOnLikeButt(item)">{{item.likes}}</i>
  <i class="fa fa-heart" *ngIf="item.hasLiked" (click)="clickOnLikeButt(item)">{{item.likes}}</i>



  <button type="button" class="exbutt btn" *ngFor="let tag of item.tags">
      #{{tag.name}}
  </button>

  <div class="d-inline"
       *ngFor="let image of item.images; let i = index" >

        <img [src]="image" id="image" name="image" width=400> <br/>


  </div>
  <p>
    {{item.description}}
  </p>
  <button type="button" class=" btn" (click)="copyItem()">
    <img src="../../../../../assets/images/mock/copy-icon.png" alt="Smiley face" height="20">
    Copy
  </button>
  <button type="button" class=" btn" [hidden]="isOwnItem() || isBooked || !getEventId()" (click)="booking()">
    <img src="../../../../../assets/images/mock/Vote-512.png" alt="Smiley face" height="20">
    Booking
  </button>

  <button type="button" class=" btn" [hidden]="isOwnItem() || !isBooked || !getEventId()" (click)="unbooking()">
    <img src="../../../../../assets/images/mock/Vote-512.png" alt="Smiley face" height="20">
    Unbook
  </button>

  <button type="button" class=" btn" (click)="deleteItem()" [hidden]="!isOwnItem()">
    <img src="../../../../../assets/images/mock/delete.png" alt="Smiley face" height="20">
    Delete
  </button>
  <button type="button" class=" btn"
          [hidden]="!isOwnItem()" (click)="hideAndShow()">
    Edit
  </button>

</div>




