<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="md-form text-center">
  <h1>{{title}}</h1>
  <!-- Add icon library -->


  <div *ngFor="let item of items">


    <div *ngIf="item.priority == 1">
      <button type="button" class="button btn btn-success btn-lg"
              data-toggle="modal" data-target="#viewItem"
              (click)="sendViewingItem(item)">
        {{item.name}}

        <!-- Use an element to toggle between a like/dislike icon -->

        <i class="likes fa fa-thumbs-up" >{{item.likes}}</i>

      </button>

    </div>
    <div *ngIf="item.priority == 2">
      <button type="button" class="button btn btn-danger btn-lg"
              data-toggle="modal" data-target="#viewItem"
              (click)="sendViewingItem(item)">
        {{item.name}}
        <a class="fa fa-thumbs-up" (click)="clickOnLikeButt(item)">{{item.likes}}</a>
      </button>
    </div>
    <div *ngIf="item.priority == 0">
      <button type="button" class="button btn btn-secondary btn-lg"
              data-toggle="modal" data-target="#viewItem"
              (click)="sendViewingItem(item)">
        {{item.name}}
        <i class="fa fa-thumbs-up">{{item.likes}}</i>
      </button>

    </div>
  </div>

  <button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#addItem">Add new item...</button>

  <div id="addItem" class="modal fade" aria-hidden="true" aria-labelledby="exampleModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">New item</h5>
          <button class="close" type="button" data-dismiss="modal">×</button>

        </div>

        <div class="modal-body">
          <app-create-item ></app-create-item>

        </div>

      </div>

    </div>
  </div>

  <div id="viewItem" class="modal fade" aria-hidden="true" aria-labelledby="exampleModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Item info</h5>
          <button class="close" type="button" data-dismiss="modal">×</button>

        </div>

        <div class="modal-body">

        <app-view-item></app-view-item>

        </div>
      </div>
    </div>
  </div>

</div>
