h1 {
  color : pink;
}

h5 {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  border: 3px solid gray;
}

.button {
  /*display: block;*/
  width: 40%;
  /*text-align: left;*/
  border-radius: 15px;
}
.likes {

}

