<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="md-form text-center" [formGroup]="form" (submit)="send()">
              <div class="form-group">
                <input type="text" id="login" class="form-control mt-2" placeholder="login"
                       formControlName="login" autocomplete="off" [(ngModel)]="login"
                       [ngClass]="{
                            'is-invalid': form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)
                        }">
                <div *ngIf="form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)"
                     class="text-danger">
                  <div *ngIf = "form.get('login').errors.required">
                    Username field can't be blank
                  </div>
                  <div *ngIf = "form.get('login').errors.pattern">
                    You can use only letters(a-z), digits(0-9) and underscore(_)
                  </div>
                  <div *ngIf = "form.get('login').errors.minlength || form.get('login').errors.maxlength">
                    Username must contain between 3 and 30 symbols
                  </div>
                  <div *ngIf = "form.get('login').errors.notexists">
                    Username not existen
                  </div>
                </div>
              </div>

                <button class="btn btn-default mt-2" type="submit" [disabled] = "!form.valid">Send recovery link</button>
                <br>
                <a class="text-muted lead small nounderline" routerLink="/recover/login">Forgot your login?</a>
            </form>
        </div>
    </div>
</div>