<form (submit)="registration()" [formGroup]="form" class="md-form text-center">
    <!-- name -->
    <div class="form-group">
        <input [(ngModel)]="user.name" [ngClass]="{
                            'is-invalid': form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)
                        }" autocomplete="off" class="form-control mt-2" formControlName="name" id="name" placeholder="Name" type="text">
            <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)" class="text-danger">
                <div *ngIf="form.get('name').errors.required">
                    Name field can't be blank
                </div>
            </div>
    </div>
    <!-- surName -->
    <div class="form-group">
        <input [(ngModel)]="user.surName" [ngClass]="{
                            'is-invalid': form.get('surName').invalid && (form.get('surName').dirty || form.get('surName').touched)
                        }" autocomplete="off" class="form-control mt-2" formControlName="surName" id="surName" placeholder="Surname" type="text">
            <div *ngIf="form.get('surName').invalid && (form.get('surName').dirty || form.get('surName').touched)" class="text-danger">
                <div *ngIf="form.get('surName').errors.required">
                    Surname field can't be blank
                </div>
            </div>
    </div>
    <!-- sex -->
    <div class="form-group">
        <select [(ngModel)]="user.sex" [ngClass]="{
                            'is-invalid': form.get('sex').invalid && (form.get('sex').dirty || form.get('sex').touched)
                        }" class="custom-select" formControlName="sex" id="sex" name="sex">
            <option [selected]="!user.sex" disabled hidden>
                Your gender
            </option>
            <option value="true">
                male
            </option>
            <option value="false">
                female
            </option>
        </select>
        <div *ngIf="form.get('sex').invalid && (form.get('sex').dirty || form.get('sex').touched)" class="text-danger">
            <div *ngIf="form.get('sex').errors.boolean">
                Choose your gender
            </div>
        </div>
    </div>
    <!-- email -->
    <div class="form-group">
        <input [(ngModel)]="user.email" [ngClass]="{
                            'is-invalid': form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)
                        }" class="form-control mt-2" formControlName="email" id="email" placeholder="Email" type="email">
            <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" class="text-danger">
                <div *ngIf="form.get('email').errors.required">
                    Email field can't be blank
                </div>
                <div *ngIf="form.get('email').errors.email">
                    Enter valid email
                </div>
                <div *ngIf="form.get('email').errors.exists">
                    Email already used
                </div>
            </div>
    </div>
    <!-- username -->
    <div class="form-group">
        <input [(ngModel)]="user.login" [ngClass]="{
                            'is-invalid': form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)
                        }" autocomplete="off" class="form-control mt-2" formControlName="login" id="login" placeholder="login" type="text">
            <div *ngIf="form.get('login').invalid && (form.get('login').dirty || form.get('login').touched)" class="text-danger">
                <div *ngIf="form.get('login').errors.required">
                    Username field can't be blank
                </div>
                <div *ngIf="form.get('login').errors.pattern">
                    You can use only letters(a-z), digits(0-9) and underscore(_)
                </div>
                <div *ngIf="form.get('login').errors.minlength || form.get('login').errors.maxlength">
                    Username must contain between 3 and 30 symbols
                </div>
                <div *ngIf="form.get('login').errors.exists">
                    Username already used
                </div>
            </div>
    </div>
    <!-- password -->
    <div class="form-group">
        <input [(ngModel)]="user.password" [ngClass]="{
                            'is-invalid': form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)
                        }" class="form-control mt-2" formControlName="password" id="password" placeholder="Password" type="password">
            <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="text-danger">
                <div *ngIf="form.get('password').errors.required">
                    Password field can't be blank
                </div>
                <div *ngIf="form.get('password').errors.pattern">
                    Password must contain letter and digits (special characters are not allowed)
                </div>
                <div *ngIf="form.get('password').errors.minlength || form.get('password').errors.maxlength">
                    Password must contain between 6 and 30 symbols
                </div>
            </div>
    </div>
    <!-- passConf -->
    <div class="form-group">
        <input [ngClass]="{
                            'is-invalid': form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)
                        }" class="form-control mt-2" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password" type="password">
            <div *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)" class="text-danger">
                <div *ngIf="form.get('confirmPassword').errors.passconfirm">
                    Bad confirm
                </div>
            </div>
    </div>
    <div [hidden]="!loading" class="alert alert-primary mt-2">
        Please wait...
    </div>
    <div [hidden]="!error" class="alert alert-danger mt-2">
        Some errors occurred, try again
    </div>
    <button [disabled]="!form.valid" class="btn btn-default mt-2" type="submit">
        Registration
    </button>
</form>
