<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <form class="md-form text-center" [formGroup]="form" (ngSubmit)="save()">
        <header>
          <h2 class="text-center">Edit Password</h2>
        </header>

        <div class="form-group">
          <input type="password" id="currentPassword" class="form-control mt-2" placeholder="Current password"
                 formControlName="currentPassword" [(ngModel)]="formContent.currentPassword"
                 [ngClass]="{
                'is-invalid': form.get('currentPassword').invalid && (form.get('currentPassword').dirty || form.get('currentPassword').touched)
            }">
          <div *ngIf="form.get('currentPassword').invalid && (form.get('currentPassword').dirty || form.get('currentPassword').touched)"
               class="text-danger">
            <div *ngIf = "form.get('currentPassword').errors.required">
              Password field can't be blank
            </div>
            <div *ngIf = "form.get('currentPassword').errors.pattern">
              Invalid characters used
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" id="newPassword" class="form-control mt-2" placeholder="New password"
                 formControlName="newPassword" [(ngModel)]="formContent.newPassword"
                 [ngClass]="{
                'is-invalid': form.get('newPassword').invalid && (form.get('newPassword').dirty || form.get('newPassword').touched)
            }">
          <div *ngIf="form.get('newPassword').invalid && (form.get('currentPassword').dirty || form.get('newPassword').touched)"
               class="text-danger">
            <div *ngIf = "form.get('newPassword').errors.required">
              Password field can't be blank
            </div>
            <div *ngIf = "form.get('newPassword').errors.pattern">
              Invalid characters used
            </div>
          </div>
        </div>

        <button class="btn btn-info button" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
