<div class="container">
  <div class="row">

    <div class="col-12 text-center">
      <form class="md-form text-center" [formGroup]="form" (ngSubmit)="save()">
        <header>
          <h2 class="text-center">Edit Password</h2>
        </header>

        <div class="form-group">
          <input type="password" id="currentPassword" class="form-control mt-2" placeholder="Current password"
                 formControlName="currentPassword" [(ngModel)]="formContent.currentPassword"
                 [ngClass]="{
                'is-invalid': form.get('currentPassword').invalid && (form.get('currentPassword').dirty || form.get('currentPassword').touched)
            }">
          <div *ngIf="form.get('currentPassword').invalid && (form.get('currentPassword').dirty || form.get('currentPassword').touched)"
               class="text-danger">
            <div *ngIf = "form.get('currentPassword').errors.required">
              Current password field can't be blank
            </div>
            <div *ngIf = "form.get('currentPassword').errors.pattern">
              Invalid characters used
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" id="password" class="form-control mt-2" placeholder="New password"
                 formControlName="password" [(ngModel)]="formContent.password"
                 [ngClass]="{
                'is-invalid': form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)
            }">
          <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)"
               class="text-danger">
            <div *ngIf = "form.get('password').errors.required">
              New password field can't be blank
            </div>
            <div *ngIf = "form.get('password').errors.pattern">
              Invalid characters used
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" id="confirmPassword" class="form-control mt-2" placeholder="Confirm new password"
                 formControlName="confirmPassword" [(ngModel)]="formContent.confirmPassword"
                 [ngClass]="{
                'is-invalid': form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)
            }">
          <div *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
               class="text-danger">
            <div *ngIf="form.get('confirmPassword').errors.passconfirm">
              Bad confirm
            </div>
          </div>
        </div>

        <div class="alert alert-primary mt-2" [hidden]="!savingChanges">
          Saving changes...
        </div>

        <div class="alert alert-danger mt-2" [hidden]="!wrongPasswordError">
          Wrong current password input, try again
        </div>

        <div class="alert alert-danger mt-2" [hidden]="!error">
          Some errors occurred, try again
        </div>

        <button class="btn btn-info button" type="submit" [disabled]="!form.valid">Save</button>
      </form>
    </div>

  </div>
</div>
