<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <br>
      <h2 class="text-center"> List of public events </h2>

      <table class="table table-striped">
        <thead>
        <tr>
          <th *ngIf="hideElement">Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Start</th>
          <th>Finish</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
          <td *ngIf="hideElement">{{ event.id }}</td>
          <td><a [routerLink]="['/event', event.id]">{{ event.name }}</a></td>
          <td>{{(event.description.length>100) ? (event.description | slice:0:100)+'..' : (event.description)}}</td>
          <td>{{ event.timeLineStart |  date : "dd/MM/yyyy HH:mm" }}</td>
          <td>{{ event.timeLineFinish |  date : "dd/MM/yyyy HH:mm" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


