<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <form class="md-form text-center" [formGroup]="form" (ngSubmit)="save()">
        <header>
          <h2 class="text-center">Edit User</h2>
        </header>

        <div class="form-group">
          <label for="editUserLogin">Username</label>
          <input type="text" id="editUserLogin" class="form-control mt-2"
                 formControlName="editUserLogin" [(ngModel)]="user.login"
                 [ngClass]="{
                'is-invalid': form.get('editUserLogin').invalid && (form.get('editUserLogin').dirty || form.get('editUserLogin').touched)
            }">
          <div *ngIf="form.get('editUserLogin').invalid && (form.get('editUserLogin').dirty || form.get('editUserLogin').touched)"
               class="text-danger">
            <div *ngIf = "form.get('editUserLogin').errors.required">
              Username field can't be blank
            </div>
            <div *ngIf = "form.get('editUserLogin').errors.pattern">
              You can use only letters(a-z), digits(0-9) and underscore(_)
            </div>
            <div *ngIf="form.get('editUserLogin').errors.minlength || form.get('editUserLogin').errors.maxlength">
              Username must contain between 3 and 30 symbols
            </div>
            <div *ngIf="form.get('editUserLogin').errors.usernameExists">
              Username already used
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="editUserEmail">Email</label>
          <input type="email" id="editUserEmail" class="form-control mt-2"
                 formControlName="editUserEmail" [(ngModel)]="user.email"
                 [ngClass]="{
                'is-invalid': form.get('editUserEmail').invalid && (form.get('editUserEmail').dirty || form.get('editUserEmail').touched)
            }">
          <div *ngIf="form.get('editUserEmail').invalid && (form.get('editUserEmail').dirty || form.get('editUserEmail').touched)"
               class="text-danger">
            <div *ngIf = "form.get('editUserEmail').errors.required">
              Email field can't be blank
            </div>
            <div *ngIf = "form.get('editUserEmail').errors.email">
              Enter valid email
            </div>
            <!--<div *ngIf = "form.get('editUserEmail').errors.exists">-->
              <!--Email already used-->
            <!--</div>-->
          </div>
        </div>

        <div class="form-group">
          <label for="editUserName">Name</label>
          <input type="text" id="editUserName" class="form-control mt-2"
                 formControlName="editUserName" [(ngModel)]="user.name"
                 [ngClass]="{
                'is-invalid': form.get('editUserName').invalid && (form.get('editUserName').dirty || form.get('editUserName').touched)
            }">
          <div *ngIf="form.get('editUserName').invalid && (form.get('editUserName').dirty || form.get('editUserName').touched)"
               class="text-danger">
            <div *ngIf = "form.get('editUserName').errors.required">
              Name field can't be blank
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="editUserSurName">Surname</label>
          <input type="text" id="editUserSurName" class="form-control mt-2"
                 formControlName="editUserSurName" [(ngModel)]="user.surName"
                 [ngClass]="{
                'is-invalid': form.get('editUserSurName').invalid && (form.get('editUserSurName').dirty || form.get('editUserSurName').touched)
            }">
          <div *ngIf="form.get('editUserSurName').invalid && (form.get('editUserSurName').dirty || form.get('editUserSurName').touched)"
               class="text-danger">
            <div *ngIf = "form.get('editUserSurName').errors.pattern">
              Surname field can't be blank
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="editUserPhone">Phone</label>
          <input type="text" id="editUserPhone" class="form-control mt-2"
                 formControlName="editUserPhone" [(ngModel)]="user.phone"
                 [ngClass]="{
                'is-invalid': form.get('editUserPhone').invalid
            }">
          <div *ngIf="form.get('editUserPhone').invalid"
               class="text-danger">
            <div *ngIf = "form.get('editUserPhone').errors.pattern">
              You can use only digits(0-9), +, -, (, ) and spaces
            </div>
            <div *ngIf="form.get('editUserPhone').errors.phoneLength">
              Phone must be between 10 and 18 symbols
            </div>
          </div>
        </div>

        <div class="alert alert-primary mt-2" [hidden]="!savingChanges">
          Saving changes...
        </div>

        <div class="alert alert-danger mt-2" [hidden]="!error">
          Some errors occurred, try again
        </div>

        <button class="btn btn-default mt-2" type="submit" [disabled]="!form.valid">Save</button>
      </form>
    </div>
  </div>
</div>
