<div class="container">
  <div class="row">

    <div class="col-sm-3 border userProfileBlock" align="center">
        <h2> {{ user.login }} </h2>

      <div class="bigImage">
        <app-partial-user-image [user]="user"></app-partial-user-image>
      </div>

        <p>{{ user.name }} {{ user.surName }}</p>

        <div *ngIf="currentUserPage">
          <p>
            <button class="btn btn-info" data-toggle="modal"
                    data-target="#requests" (click)="getIncomingRequests()">Requests</button>
          </p>
          <p>
            <button class="btn btn-info" (click)="goToEditUserPage(user)"> Edit info </button>
          </p>
          <p>
            <button class="btn btn-info" (click)="goToEditImagePage(user)"> Edit image </button>
          </p>
          <p>
            <button class="btn btn-info" (click)="goToEditPasswordPage()"> Edit password </button>
          </p>
        </div>

      <div *ngIf="!currentUserPage">
        <app-partial-user-friendship-button *ngIf="currentUser.id && user.id"
                                            [currentUser]="currentUser" [user]="user">
        </app-partial-user-friendship-button>
      </div>

      <button type="button" class="btn btn-info" data-toggle="modal"
              data-target="#friendsList" (click)="getFriends()">Friends</button>

    </div>

    <div class="col-sm-9">

      <div *ngIf="userEvents">
        <div *ngFor="let event of userEvents">
          <div class="row border list">
              <p><a [routerLink]="['/event', event.id]"> {{ event.name }} </a></p>
          </div>
        </div>
      </div>

      <div *ngIf="userEvents?.length < 1">
        <p>No public events</p>
      </div>

    </div>

  </div>
</div>

<div id="friendsList" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <h4> Friends list </h4>
        <button class="close" type="button" data-dismiss="modal">×</button></div>
      <div class="modal-body">
        <div *ngIf="userFriends">
          <div *ngFor="let friend of userFriends">
            <app-partial-user-list *ngIf="currentUser.id && friend.id"
                                   [currentUser]="currentUser" [user]="friend">
            </app-partial-user-list>
          </div>
        </div>
        <div *ngIf="userFriends?.length < 1">
          <p>No friends:(</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="requests" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a id="incomeReqTab" aria-controls="incomeRequestsTab" class="nav-link active" data-toggle="tab" href="#incomeRequestsTab" role="tab"
                 (click)="getIncomingRequests()">
                Income requests
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a id="outcomeReqTab" aria-controls="outcomeRequestsTab" class="nav-link" data-toggle="tab" href="#outcomeRequestsTab" role="tab"
                 (click)="getOutcomingRequests()">
                Outcome requests
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="incomeRequestsTab" role="tabpanel">
              <div *ngIf="incomeRequests">
                <div *ngFor="let request of incomeRequests">
                  <app-partial-user-list *ngIf="currentUser.id && request.id"
                                         [currentUser]="currentUser" [user]="request">
                  </app-partial-user-list>
                </div>
              </div>
              <div *ngIf="incomeRequests?.length < 1">
                <p>No requests:(</p>
              </div>
            </div>
            <div class="tab-pane" id="outcomeRequestsTab" role="tabpanel">
              <div *ngIf="outcomeRequests">
                <div *ngFor="let request of outcomeRequests">
                  <app-partial-user-list *ngIf="currentUser.id && request.id"
                                         [currentUser]="currentUser" [user]="request">
                  </app-partial-user-list>
                </div>
              </div>
              <div *ngIf="outcomeRequests?.length < 1">
                <p>No requests:(</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
