<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(~{:: title},~{:: link})">
    <title>Event manager</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<div class="container-fluid h-100 bg" sec:authorize="!isAuthenticated()">
        <div class="row h-100 justify-content-center align-items-center">
        	<div class="col-6 text-center">
        		<h1 class="display-1 text-light"><strong>Event manager</strong></h1>
        		<h2 class="text-light mg-bottom">Time management is effective with us!</h2>
        		<a th:href="@{/registration}" class="btn-lg btn-primary nounderline">Join us</a>
        	</div>
        </div>
    </div>

    <div class="container-fluid h-100" sec:authorize="isAuthenticated()">
        <div class="row">
            <div class="col-12">
                <p sec:authentication="name">user</p>
                <a th:href="@{/logout}">logout</a>
            </div>
        </div>
    </div>
</body>
</html>