<div class="md-form text-center">
    <input type="text" id="username" class="form-control mt-2" placeholder="Username"
        [(ngModel)]="credentials.username">
    <input type="password" id="password" class="form-control mt-2" placeholder="Password"
        [(ngModel)]="credentials.password">
    <div class="alert alert-danger mt-2" *ngIf="login_error">
		There was a problem logging in. Please try again.
	</div>
    <button class="btn btn-default mt-2" (click)="login()">Login</button>
</div>