
<div class="bootstrap-iso ">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-8 centerDiv">
        <h2 class="my-4 text-center">Export personal events plan</h2>
        <form class="form-horizontal" [formGroup]="form">
          <div class="form-group ">


            <label>
              <strong> Select date range </strong>
              <input  formControlName="dateRange"
                      [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [selectMode]="'range'" [(ngModel)]="date_range"
                      [min]="min" [max]="max">
              <owl-date-time  [pickerType]="'calendar'" [pickerMode]="'dialog'" #dt></owl-date-time>
            </label>
          </div>


            <div class="col-md-8 centerDiv ">
              <button class="btn btn-primary" (click)="download()" [disabled]="!form.valid">Download</button>
              <button class="btn btn-primary" (click)="send()" [disabled]="!form.valid">Send email</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
