<div class="bootstrap-iso">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 centerDiv">
        <h2 class="my-4 text-center">Setting the sending of a personal events plan</h2>
        <form class="form-horizontal" [formGroup]="form">


          <div class="form-group">
            <label class="control-label col-md-8 requiredField" for="timeLineStart">
              From date <span class="asteriskField">*</span>
            </label>
            <div class="col-md-8">
              <div class="input-group">
                <input id="timeLineStart"
                       formControlName="timeLineStartControl" [(ngModel)]="setting.fromDate"
                       [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                       [min]="min" [max]="max">
                <div class="input-group-append">
                   <span class="input-group-text">
                      <i class="fa fa-calendar-check-o"> </i>
                   </span>
                </div>
                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
              </div>
              <span class="help-block">
                <small>Start date for sending an events plan</small>
              </span>
            </div>
          </div>


          <div class="form-group ">
            <label class="control-label col-md-8 requiredField" for="planPeriod">
              Plan period
              <span class="asteriskField">*</span>
            </label>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" id="planPeriod" name="planPeriod" type="number"
                       [(ngModel)]="setting.planPeriod" formControlName="planPerioddControl"
                       [ngClass]="{'is-invalid': form.get('planPerioddControl').invalid &&
                       (form.get('planPerioddControl').dirty || form.get('planPerioddControl').touched)}"/>
                <div class="input-group-append">
                   <span class="input-group-text">
                      <i class="fa fa-repeat"> </i>
                   </span>
                </div>
              </div>
              <span class="help-block" id="hpper">
        <small>Number of  days in the personal events plan</small>
       </span>
              <div
                *ngIf="form.get('planPerioddControl').invalid && (form.get('planPerioddControl').dirty || form.get('planPerioddControl').touched)"
                class="text-danger">
                <div *ngIf="form.get('planPerioddControl').errors.required">
                  Period can't be blank
                </div>
                <div *ngIf="form.get('planPerioddControl').errors.min">
                  Period can't < 0
                </div>
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-md-8 requiredField" for="notificationPeriod">
              Notification period
              <span class="asteriskField">*</span>
            </label>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" id="notificationPeriod" name="notificationPeriodControl" type="number"
                       [(ngModel)]="setting.notificationPeriod" formControlName="notificationPeriodControl"
                       [ngClass]="{'is-invalid': form.get('notificationPeriodControl').invalid &&
                       (form.get('notificationPeriodControl').dirty || form.get('notificationPeriodControl').touched)}"/>
                <div class="input-group-append">
                   <span class="input-group-text">
                      <i class="fa fa-repeat"> </i>
                   </span>
                </div>
              </div>
              <span class="help-block" id="hnper">
              <small> Every n days send events plan via email</small>
       </span>
              <div
                *ngIf="form.get('notificationPeriodControl').invalid && (form.get('notificationPeriodControl').dirty || form.get('notificationPeriodControl').touched)"
                class="text-danger">
                <div *ngIf="form.get('notificationPeriodControl').errors.required">
                  Period can't be blank
                </div>
                <div *ngIf="form.get('notificationPeriodControl').errors.min">
                  Period can't < 0
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-8 centerDiv">
          <button class="btn btn-primary" (click)="update()" [disabled]="!form.valid">Update</button>
          <button *ngIf="!setting.sendPlan" class="btn btn-success" (click)="enable()" [disabled]="!form.valid">Enable
          </button>
          <button *ngIf="setting.sendPlan" class="btn btn-danger" (click)="disable()" [disabled]="!form.valid">Disable
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

