<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
	margin-left: auto;
    margin-right: auto
}

td, th {
	border: 3px solid #dddddd;
	text-align: left;
	padding: 8px;
}
h1{
text-align: center;
}
</style>
</head>
<button class="btn btn-secondary" type="button" (click)="goHome()">&larr; Back</button>
		<h1>My Statistics</h1>
		<div *ngIf="statistics">
			<table>
				<tr>
					<td width="50%">Created events:</td>
					<td>{{statistics.asCreator}}</td>
				</tr>
				<tr>
					<td>Participated events:</td>
					<td>{{statistics.asParticipant}}</td>
				</tr>
				<tr>
					<td>Messages sent:</td>
					<td>{{statistics.messagesSent}}</td>
				</tr>
				<tr>
					<td>Set likes:</td>
					<td>{{statistics.likes}}</td>
				</tr>
			</table>
			<h1>General Statistics</h1>
			<table>
				<tr>
					<td width="50%">Male users:</td>
					<td>{{statistics.males}}%</td>
				</tr>
				<tr>
					<td>Female users:</td>
					<td>{{statistics.females}}%</td>
				</tr>
				<tr>
					<td>Average age:</td>
					<td>{{statistics.avgAge}}</td>
				</tr>
			</table>
		</div>



