<button class="btn btn-secondary" type="button" (click)="goHome()">
	&larr; Back</button>
<h1>My Statistics</h1>
<div *ngIf="statistics">
	<p>Created events: {{statistics.asCreator}}</p>
	<p>Participated events: {{statistics.asParticipant}}</p>
	<p>Messages sent: {{statistics.messagesSent}}</p>
	<p>Registered in system: {{statistics.withUs}}</p>
	<p>Set likes: {{statistics.likes}}</p>
<h1>General Statistics</h1>
	<p>Male users: {{statistics.males}}%</p>
	<p>Female users: {{statistics.females}}%</p>
	<p>Average age: {{statistics.avgAge}}</p>
</div>
